<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.imm.kk.mapper.setting.HdisAgeMapper">
    <sql id="allColumn">
        ageId
        ,endAge
        ,startAge
        ,seq
        ,institutionCode
        ,creator
        ,createTime
    </sql>
    <resultMap id="default" type="hdisAge">
        <result property="ageId" column="ageId"/>
        <result property="endAge" column="endAge"/>
        <result property="startAge" column="startAge"/>
        <result property="seq" column="seq"/>
        <result property="institutionCode" column="institutionCode"/>
        <result property="creator" column="creator"/>
        <result property="createTime" column="createTime"/>
    </resultMap>

    <select id="selectAllData" resultType="com.imm.kk.entity.setting.HdisAge">
        SELECT
         ageId
        ,endAge
        ,startAge
        ,seq
        ,institutionCode
        ,creator
        ,createTime
        FROM
        hdis_age
        WHERE 1=1
    </select>

</mapper>
