<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.imm.kk.mapper.setting.ImmUserMapper">
    <sql id="allColumn">
        userId
        ,userName
    </sql>
    <resultMap id="default" type="ImmUser">
        <result property="userId" column="userId"/>
        <result property="userName" column="userName"/>
    </resultMap>

    <select id="selectUserList" resultType="com.imm.kk.entity.setting.ImmUser">
        SELECT
         userId
        ,userName
        FROM
        imm_user
        WHERE 1=1
    </select>

</mapper>
